model:
  name_or_path: "../../models/deberta-v3-large"
  save_path: "../../ckpts/p2q"

data:
  path: ["../paper_to_query/train_unfiltered.jsonl"]
  split_test_sets: 0.1
  min_score_diff: 0.5

train:
  epochs: 5
  gradient_accumulation: 64
  gradient_checkpointing: false
  learning_rate: 2e-5
  max_seq_len: 1024
  per_device_train_batch_size: 4
  per_device_eval_batch_size: 64
  seed: 42
  warmup_type: "linear"
  warmup_ratio: 0.1
  weight_decay: 0.01

deepspeed:
  enabled: true
  steps_per_print: 10
  zero_optimization:
    stage: 3
    offload_param: 
      device: none
    offload_optimizer:
      device: none
    stage3_param_persistence_threshold: 1e4
    stage3_max_live_parameters: 3e7
    stage3_prefetch_bucket_size: 3e7
  fp16: 
    enabled: true
    loss_scale: 0
    initial_scale_power: 16
    hysteresis: 2
    loss_scale_window: 500
    min_loss_scale: 0
  gradient_clipping: 1.0
  prescale_gradients: false
  wall_clock_breakdown: false